

header {
    background-color: teal;
    color: white;
    font-size: 15px;
    font-family: sans-serif;
    text-align: center;
    padding: 30px 50px;
    border-radius: 8px;
    margin: 50px 100px;
}

div {
    display: inline-block;
}

.container1 {
    margin-left: 100px;
}

.container2 {
    margin-left: 20px;
}

button {
    color: blue;
    font-size: 16px;
    border-radius: 8px;
    background-color: white;
    border-color:blue;
    margin-top: 20px;
    margin-left: 100px;
}

input {
    border-radius: 4px;
}
#primes {
    font-family: sans-serif;
    color: teal;
}

#error {
    font-family: sans-serif;
    color: red;
}