.container {
    background-color: teal;
    color: white;
    font-family: sans-serif;
    text-align: center;
    padding: 30px 50px;
    border-radius: 8px;
    margin: 50px 100px;
}

.container2 {
    text-align: center;
}

button {
    color: blue;
    font-size: 16px;
    border-radius: 8px;
    background-color: white;
    border-color:blue;
}